/* constants */
:root {
    /* light mode */
    --font-color: #060607;
    --bg-color: white;
    --primary-color: #f8f9f9;
    --secondary-color: #c7ccd1;
    --hover-color: #e3e5e8;
    --selected-color: #9099a4; /* darker secondary-color */
    --icon-color: #23262a;
    --digit-color: #4f5660; /* darker selected-color */
    
    /* dark mode */
    --font-color-dark: #f6f6f7;
    --bg-color-dark: #040405;
    --primary-color-dark: #18191c;
    --secondary-color-dark: #36393f;
    --hover-color-dark: #202225;
    --selected-color-dark: #4f545c;
    --icon-color-dark: #dcddde;
    --digit-color-dark: #72767d;

    /* errors */
    --error-color: #f2283c;
}

/* main functionalities */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-spacing: 0;
}
  
button {
    cursor: pointer;
}

/* header styling */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--font-color);
    border-bottom: 1px var(--secondary-color) solid;
}

#title {
    flex-basis: 60%;
}

/* game menu styling */
.game-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.game-buttons {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    cursor: pointer;
}

/* music */
#music::before {
    content: "music_off";
    color: var(--icon-color);
}

#music.material-icons.play-bgm::before {
    content: "music_note";
    color: var(--icon-color);
}

.difficulty-level {
    display: flex;
}

/* mistakes made */
#error-count {
    flex-basis: 10%;
    display: flex;
    /* text */
    font-size: 18px;
    color: var(--font-color);
}

.timer-and-pause-button {
    flex-basis: 7%;
    display: flex;
    align-items: center;
}

.timer {
    /* text */
    color: var(--selected-color);
    font-size: 20px;
    text-align: center;
}

/* board styling */
.sudoku-board {
    width: 450px;
    height: 450px;
    margin: 20px auto 10px auto;
    cursor: default;

    /* create rows and cols */
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50px; /* 9 squares fit in row */
    height: 50px; /* 9 squares fit in col */
    border: 0.5px var(--selected-color) solid;

    /* text */
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* top right bottom left */
.thicker-border-right {
    border-right: 2px var(--icon-color) solid;
}
.thicker-border-below {
    border-bottom: 2px var(--icon-color) solid;
}

.prefilled {
    background-color: var(--primary-color);
}

.square-selected {
    background-color: var(--secondary-color);
}

.digits {
    width: 450px;
    height: 50px;

    display: flex;
    flex-wrap: wrap;
}

.digit {
    width: 50px;
    height: 50px;
    margin: 0px;
    cursor: pointer;

    /* text */
    font-size: 30px;
    color: var(--digit-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* for hover effects */
    opacity: 0.6;
    transition: 0.3s;
}

.digit:hover {
    opacity: 1;
}

.digit-selected {
    opacity: 1;
    background-color: var(--hover-color);
}

/* additional features */
.hide {
    display: none;
}

/* error made on the board */
.error {
    color: var(--error-color);
}

/* pause resume button */
#pause-resume-button {
    cursor: pointer;
    /* for hover effects */
    opacity: 0.6;
    transition: 0.3s;
}

#pause-resume-button:hover {
    opacity: 1;
}

#pause-resume-button::before {
    content: "pause_circle_filled";
    color: var(--selected-color);
}

#pause-resume-button.material-icons.paused::before {
    content: "play_circle_filled";
    color: var(--digit-color);
}

/* toggle dark mode */
/* toggle button */
#toggle {
    cursor: pointer;
}

#toggle::before {
    content: "light_mode";
    color: var(--icon-color);
}

.sudoku-solver.dark #toggle::before {
    content: "dark_mode";
    color: var(--icon-color-dark);
}

.sudoku-solver {
    height: 100%;
    background-color: var(--bg-color);
}
.sudoku-solver.dark {
    height: 100%;
    background-color: var(--bg-color-dark);
}